<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
	<title>Agendamento</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/prontuario-pacientes.css"/>
</head>
<body>
<section class="aw-layout-content  js-content" layout:fragment="conteudo">


	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Agendamento
			</h1>
		</div>
	</div>

	<div class="container-fluid">
	
		<form method="POST" th:object="${prontuario}" th:action="@{/prontuarios/novo}" autocomplete="off" class="form-vertical  js-form-loading">
			
			<th:block th:include="fragments/MensagemSucesso"></th:block> 
			<th:block th:include="fragments/MensagensErroValidacao"></th:block>
			
			<div class="row">	
				<div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('paciente.nome')} ? has-error">
					<label for="paciente" class="control-label">Paciente</label>
					<input id="amostra" type="text" class="form-control" th:field="*{paciente.nome}"/>
					<input id="paciente" type="hidden" class="form-control" th:field="*{paciente.cpf}"/>
					<div id="lista-paciente">
						
					</div>
				</div>
			</div>			
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Agendar</button>
			</div>
		
		</form>
	</div>
	
	<div class="container-fluid">
		<div class="table-responsive bw-tabela-simples">
			<table class="table table-hover" >
				<thead>
					<tr>
						<th class="table-cervejas-col-sku text-center">Paciente</th>
						<th class="table-cervejas-col-nome text-center">Status</th>
						<th class="table-cervejas-col-acoes"></th>
					</tr>
				</thead>
				
				<tbody>
					<th:block th:each="prontuario : ${prontuarios}">
						<tr>
							<td class="text-center" th:text="${prontuario.paciente.nome}">Nome Paciente</td>
							<td class="text-center" th:text="${prontuario.status.descricao}">Descrição</td>
							<td class="text-right">
								<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
										th:attr="data-id=${prontuario.id}, data-nome=${prontuario.paciente.nome}"
											title="Excluir" rel="tooltip" data-placement="top">
									<span class="glyphicon glyphicon-remove"></span>
								</a>
							</td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
		
		
		<div layout:include="prontuario/DialogoConfirmacaoExclusao"></div>
		
	</div>

</section>

<th:block layout:fragment="javascript-extra">
	<script src="/javascripts/pesquisa.paciente-prontuario.js"></script>
	<script src="/javascripts/exclui-agendamento.js"></script>
</th:block>

</body>
</html>