.margem-lista {
	border: 1px solid black;
	background: white;
}
#lista-paciente span {
	display: block;	
}

#lista-paciente span:hover {
	background: whitesmoke;
	cursor: pointer;
	font-weight: bold;
}