<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
	<title>Unidade de Saúde</title>
</head>
<body>
<section class="aw-layout-content  js-content" layout:fragment="conteudo">


	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Unidade de Saúde
			</h1>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa fa-users fa-3x" ></i>
					</div>
					<div class="aw-box__value" th:text="${pacientesCadastrados}"></div>
					<div class="aw-box__title">Pacientes Cadastrados</div>
				</div>
			</div>
		
			<div class="col-sm-3">
				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa fa-book fa-3x" ></i>
					</div>
					<div class="aw-box__value" th:text="${consultasHoje}"></div>
					<div class="aw-box__title">Total de consultas hoje</div>
				</div>
			</div>
		</div>
	</div>
	

</section>

</body>
</html>