<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">



<div class="modal fade" id="ModalObservacaoPesquisa" tabindex="-1" data-keyboard="" data-backdrop="static">
	<div class="modal-dialog">
			<input type="hidden" name="_method" value="DELETE" />
		    <div class="modal-content">
		    	<div class="modal-header">		        	
		        	<h4 class="modal-title">Observação da consulta</h4>
		      	</div>
		      	<div class="modal-body">
		        	<span></span>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
		      	</div>
		    </div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</html>