<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<body>

<aside class="aw-layout-sidebar  js-sidebar" th:fragment="menulateral" th:classappend="${#authorization.expression('hasAuthority(''PACIENTE'')')} ? is-toggled">
		<div class="aw-layout-sidebar__content">
		
			<nav class="aw-menu  js-menu">
				<ul class="aw-menu__list">
				
					<li class="aw-menu__item">
						<a th:href="@{/}"><i class="fa  fa-fw  fa-home"></i><span>Dashboard</span></a>
					</li>
				
					<li class="aw-menu__item  is-expanded" sec:authorize="hasAuthority('ADMIN')">
						<a href="#">
							<i class="fa  fa-fw  fa-file-text"></i><span>Cadastros</span>
							<i class="aw-menu__navigation-icon  fa"></i>
						</a>
					
						<ul class="aw-menu__list  aw-menu__list--sublist">
							<li class="aw-menu__item  aw-menu__item--link"><a th:href="@{/pacientes/novo}">Cadastro de Pacientes</a></li>
							<li class="aw-menu__item  aw-menu__item--link"><a th:href="@{/farmaceuticos/novo}">Cadastros de Farmaceuticos</a></li>
							<li class="aw-menu__item  aw-menu__item--link"><a th:href="@{/medicos/novo}">Cadastro de Médicos</a></li>
						</ul>
					</li>
				
					<li class="aw-menu__item" sec:authorize="hasAnyAuthority('FARMACO','ADMIN')">
						<a href="#">
							<i class="fa  fa-fw  fa-file-text"></i><span>Prontuarios</span>
							<i class="aw-menu__navigation-icon  fa"></i>
						</a>
					
						<ul class="aw-menu__list  aw-menu__list--sublist">
							<li class="aw-menu__item  aw-menu__item--link"><a th:href="@{/prontuarios/novo}">Agendamento</a></li>
							<li class="aw-menu__item  aw-menu__item--link"><a th:href="@{/prontuarios/lista}">Lista de Prontuários</a></li>							
							
						</ul>
					</li>
					<li class="aw-menu__item" sec:authorize="hasAnyAuthority('ADMIN','FARMACO','MEDICO')">
						<a href="#">
							<i class="fa  fa-fw  fa-file-text"></i><span>Listagens</span>
							<i class="aw-menu__navigation-icon  fa"></i>
						</a>
					
						<ul class="aw-menu__list  aw-menu__list--sublist">
							<li class="aw-menu__item  aw-menu__item--link"><a th:href="@{/pacientes/lista}">Lista de Pacientes</a></li>	
							<li class="aw-menu__item  aw-menu__item--link"><a th:href="@{/medicos/lista}">Lista de Médicos</a></li>		
							<li class="aw-menu__item  aw-menu__item--link"><a th:href="@{/farmaceuticos/lista}">Lista de Farmacos</a></li>							
							
						</ul>
					</li>
					<li class="aw-menu__item" sec:authorize="hasAnyAuthority('MEDICO','ADMIN')">
						<a href="#">
							<i class="fa  fa-fw  fa-file-text"></i><span>Administração de Consultas</span>
							<i class="aw-menu__navigation-icon  fa"></i>
						</a>
					
						<ul class="aw-menu__list  aw-menu__list--sublist">
							<li class="aw-menu__item  aw-menu__item--link"><a th:href="@{/consulta/pendentes}">Consultas Pendentes</a></li>
						</ul>
					</li>
					<li class="aw-menu__item is-expanded" >
						<a href="#">
							<i class="fa  fa-fw  fa-file-text"></i><span>Gerenciamento de Estoque de Medicamentos</span>
							<i class="aw-menu__navigation-icon  fa"></i>
						</a>
					
						<ul class="aw-menu__list  aw-menu__list--sublist">
							<li class="aw-menu__item  aw-menu__item--link"><a th:href="@{/produtos/novo}">Cadastrar Medicamentos</a></li>
						</ul>
						<ul class="aw-menu__list  aw-menu__list--sublist">
							<li class="aw-menu__item  aw-menu__item--link"><a th:href="@{/produtos}">Listar Estoque</a></li>
						</ul>
					</li>
					
				</ul>
			</nav>
		
		</div>
	</aside>
</body>
</html>