<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
	<title>Atendimento da consulta</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/receitas.css"/>
</head>
<body>
<section class="aw-layout-content  js-content" layout:fragment="conteudo">


	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Atendimento da consulta
			</h1>
		</div>
	</div>

	<div class="container-fluid">
	
		<form method="POST" class="form-vertical  js-form-loading" th:action="@{/consulta/salvar}" th:object="${consulta}">
			
			<th:block th:include="fragments/MensagensErroValidacao"></th:block>
		
			 <div class="form-group">
			 	<label>Nome do Médico</label>
			 	<input disabled="disabled" type="text" class="form-control" th:value="${consulta.medico.nome}" />
			 	<input type="hidden" th:field="*{medico}" />			 	
			 </div>
			 
			 <div class="form-group">
			 	<label>Nome do Paciente</label>
			 	<input disabled="disabled" type="text" class="form-control" th:value="${consulta.prontuario.paciente.nome}" />
			 	<input type="hidden" th:field="*{prontuario}" />
			 </div>
			 
			<div class="form-group">
				<div class="row">
					<div class="col-sm-6">
						<label for="descrica-consulta">Descrição da consulta</label>
						<textarea id="descricao-consulta" class="form-control" th:field="*{observacao}"></textarea>
					</div>
					<div class="col-sm-3">
						<button class="btn  btn-primary" type="button" data-toggle="modal" th:attr="data-idConsulta=${id}"
						data-target="#ModalAdicionarPrescricao" data-placement="top">Adicionar Prescrição</button>
					</div>
					<div id="prescricoes" class="escondido col-sm-3">
					<input id="receitaConsulta" type="hidden" th:field="*{receita}"/>
				        <h3>Medicamentos</h3>
						
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
				<a href="pesquisa-produtos.html" class="btn  btn-default">Cancelar</a>
			</div>
		
		</form>
	</div>

		<div layout:include="consulta/ModalAdicionarPrescricao"></div>
</section>

<th:block layout:fragment="javascript-extra">
	<script src="/javascripts/adicionar-prescricao.js"></script>
</th:block>
</body>
</html>