<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
	<title>Atendimento da consulta</title>
</head>
<body>
<section class="aw-layout-content  js-content" layout:fragment="conteudo">


	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Atendimento da consulta
			</h1>
		</div>
	</div>

	<div class="container-fluid">
	
		<form method="POST" class="form-vertical  js-form-loading">
			
			<!-- <th:block th:include="fragments/MensagemSucesso"></th:block> 
			<th:block th:include="fragments/MensagensErroValidacao"></th:block>
			 -->
			
			
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
				<a href="pesquisa-produtos.html" class="btn  btn-default">Cancelar</a>
			</div>
		
		</form>
	</div>

</section>

</body>
</html>