<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<head>
	<title>Listagem de Farmacos</title>
</head>
<body>
<section class="aw-layout-content  js-content" layout:fragment="conteudo">


	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Listagem de Farmacos
			</h1>
		</div>
	</div>
			<th:block th:include="fragments/MensagemSucesso"></th:block> 

	<div class="container-fluid">
	<div class="table-responsive bw-tabela-simples">
			<table class="table table-hover" >
				<thead>
					<tr>
						<th class="text-center">Farmaco</th>
						<th class="text-center">CPF</th>
						<th class="text-center">CRM</th>
						<th class="text-center">Data Nascimento</th>
					</tr>
				</thead>
				
				<tbody class="js-lista-farmaco">
					<th:block th:each="farmaco : ${farmacos}">
					<tr>
					<th class="text-center" th:text="${farmaco.nome}"></th>
					<td class="text-center" th:text="${farmaco.cpf}"></td>
					<td class="text-center" th:text="${farmaco.crf}"></td>
					<td class="text-center" th:text="${farmaco.dataNascimento}"></td>
					<td class="text-right" sec:authorize="hasAuthority('ADMIN')">
								<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#ModalExcluirFarmaco"
										th:attr="data-cpf=${farmaco.cpf}, data-nome=${farmaco.nome}"
											title="Excluir" rel="tooltip" data-placement="top">
									<span class="glyphicon glyphicon-remove"></span>
								</a>
								<a class="btn btn-link btn-xs"
									th:href="@{edit/{cpf}(cpf=${farmaco.cpf})}"
									title="Editar" rel="tooltip" data-placement="top"> <span
										class="glyphicon glyphicon-pencil"></span>
								</a>
					</td>
					</tr>
					</th:block>
				</tbody>
			</table>
		</div>
	</div>

		<div layout:include="farmaceutico/ModalExcluirFarmaco"></div>
		
</section>

<th:block layout:fragment="javascript-extra">
	<script src="/javascripts/exclui-farmaco.js"></script>
</th:block>
</body>
</html>