<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
	<title>Cadastro de Turmas</title>
</head>
<body>
<section class="aw-layout-content  js-content" layout:fragment="conteudo">


	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de Turmas
			</h1>
		</div>
	</div>

	<div class="container-fluid">
	
		<form method="post" th:objetct="${turma}" class="form-vertical  js-form-loading">
	
			<th:block th:include="fragments/MensagensErroValidacao"></th:block>
			<th:block th:include="fragments/MensagemSucesso"></th:block> 
			
			<div class="row">	
				<div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('nome')} ? has-error">
					<label for="nome">Nome</label>
					<input id="nome" type="text" class="form-control"/>
				</div>
				<div class="col-sm-8  form-group" th:classappend="${#fields.hasErrors('curso')} ? has-error">
					<label for="curso" class="control-label">Curso</label>
					<div class="utf-field-action" >
						<select id="curso" class="form-control" >
							<option value=""></option>
							<option th:each="departamento : ${departamentos}" th:value="${departamento.codigo}" th:text="${departamento.nome}">Departamento</option>
						</select>					
					</div>					
				</div>
			</div>
			

			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Inserir disciplina</button>	
			</div>
			
			<div class="table-responsive bw-tabela-simples">
			<table class="table table-hover">
				<thead>
					<tr>

						<th class="table-cervejas-col-sku">Disciplina</th>
						<th class="table-cervejas-col-nome">Nome</th>
						<th class="table-cervejas-col-acoes"></th>
					</tr>
				</thead>
				
				<tbody>
					<tr>
						<td class="text-center" th:text="AGDCP">AA1234</td>
						<td th:text="Algoritmo">Algoritmo Nome</td>
						<td class="text-center">
							<a class="btn btn-link btn-xs" title="Excluir">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
					</tr>
					<tr>
						<td class="text-center" th:text="LAB12">AA1234</td>
						<td th:text="Laboratario">Laboratório Nome</td>
						<td class="text-center">
							<a class="btn btn-link btn-xs" title="Excluir">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	
		</form>
	</div>

</section>

</body>
</html>